/* здесь подключите шрифты*/
@font-face {
  font-family: "Railway";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/raleway-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/raleway-regular.woff2") format("woff2");
  font-display: swap;
}


// "Arial", sans-serif

// "Segoe UI", sans-serif;
