@use "../global/variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

a {
  text-decoration: none;
}

br {
  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}
