@use "../global/variables.scss";

.catalog__container {
  padding: 0 26px;

  @media (min-width: variables.$tablet-width) {
    padding: 0 95px 0 93px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 155px 0 157px;
  }
}

.catalog__title {
  margin-bottom: 77px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 92px;
  }
}

.catalog__list {
  display: grid;
  gap: 23px;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 56px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 60px;
    column-gap: 24px;
  }
}
