@use "../global/variables.scss";

.footer {
  background-color: #F1F6FC;
}

.footer__container {
  padding: 11px 26px 20px;
  display: grid;
  align-items: center;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 22px 26px 22px 20px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 26px 155px 20px;
  }
}

.footer__list {
  display: flex;
  gap: 20px;

  @media (min-width: variables.$tablet-width) {
    justify-self: center;
    gap: 32px;
    margin-left: 19px;
  }
}

.footer__link {
  grid-column: 2 / 3;
  justify-self: flex-end;

  @media (min-width: variables.$tablet-width) {
    grid-column: 3 / 4;
  }
}

.footer__second-logo {
  @media (min-width: variables.$tablet-width) {
    vertical-align: middle;
    width: 153px;
    height: 32px;
  }
}
