@use "../global/variables.scss";

.navigation-list__link {
  color: #000000;

  &--current {
    color: #0f805d;
  }

  &:hover {
    color: #7bdb0a;
  }

  &:focus {
    color: #7bdb0a;
  }

  &:active {
    color: #0f805d;
  }
}
