@use "../global/variables.scss";

.news {
  padding-bottom: 60px;

  @media (min-width: variables.$tablet-width) {
    padding-bottom: 110px;
  }

  @media (min-width: variables.$tablet-width) {
    padding-bottom: 95px;
  }
}

.news__container {
  padding: 0 26px;

  &::before {
    content: "";
    display: block;
    width: 228px;
    height: 32px;
    background-image: url("../../images/icons/stack.svg#leafs");
    margin: 0 auto;
    margin-bottom: 64px;

    @media (min-width: variables.$tablet-width) {
      margin-bottom: 72px;
      width: 296px;
      height: 42px;
    }

    @media (min-width: variables.$desktop-width) {
      margin-bottom: 98px;
      // width: 296px;
      // height: 42px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 156px;
  }
}

.news__title {
  margin-bottom: 64px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 98px;
  }
}

.news__list {
  display: grid;
  gap: 24px;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 34px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
  }
}

.news__item:nth-of-type(3) {
  grid-column: 1 / -1;
  justify-self: center;

  @media (min-width: variables.$desktop-width) {
    grid-column: 3 / 4;
  }
}
