@use "../global/variables.scss";

.page__body {
  font-family: "Railway", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  margin: 0;

  @media (min-width:variables.$tablet-width) {
    font-size: 20px;
    line-height: 23px;
  }
}
