@use "../global/variables.scss";

.textarea {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  min-height: 88px;
  color: rgba(142, 152, 146, 0.7);
  resize: none;

  @media (min-width: variables.$tablet-width) {
    min-height: 52px;
  }

  &--big-size {
    min-height: 148px;

    @media (min-width: variables.$tablet-width) {
      min-height: 144px;
    }
  }
}
